* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    font-family: 'Lato', sans-serif;
    color: grey;
    font-weight: 300;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

header, footer {
  display: block;
}

/* Content */

.text-muted {
    color: purple;
    margin-bottom: 20px;
}

/* Header */

.header-content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header-title {
    font-size: 60px;
    font-weight: 100;
}

.header-logo {
    width: 150px;
    height: 150px;
}

.social-links .social {
    display: inline-block;
    width: 48px;
    height: 48px;
    padding: 10px;
    margin-left: 10px;
    color: purple;
}

/* Footer */

footer {
    text-align: right;
    color: orangered;
    width: 100%;
}

/* Media Query */

@media screen and (max-width:800px) {
    
    .project-item {
        width: 100%;
    }
    
    .header-title, .header-subtitle, .social-links {
        width: 100%;
        text-align: center;
    }
    
    .header-title {
        font-size: 3em;
    }
    
    .header-subtitle {
        font-size: 1em;
    }
    
    .logo {
        width: 100%;
        height: 100px;
        margin-top: 1em;
        display: flex;
    }
}

@media screen and (min-width:550px) and (max-width:800px) {
    
    .job1 {
        width: 50%;
    }
    
    .job2 {
        width: 50%;
    }
    
    .job3 {
        width: 50%;
    }
}

@media screen and (min-width:801px) {
     
    .container {
        width: 850px;
    }
    
    .logo {
        float: left;
        margin-top: 30px;
    }
}
